# dependencies
node_modules/
.pnpm-store/

# build output
dist/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env
.env.*

# editor / OS
.DS_Store
.vscode/

# typescript cache
*.tsbuildinfo

tmp